pkgbase = moeOS-git
	pkgdesc = moeOS Configurations
	pkgver = r1326.90bc26c
	pkgrel = 1
	epoch = 1
	url = https://github.com/Kimiblock/moeOS.config
	arch = x86_64
	groups = moeOS
	license = MIT
	makedepends = git
	makedepends = make
	provides = drkonqi
	conflicts = snapd
	conflicts = optimus-manager
	conflicts = optimus-manager-qt
	conflicts = optimus-manager-qt-kde
	conflicts = gnome-shell-performance
	source = git+https://github.com/LinuxStandardBase/lsb-samples.git
	source = git+https://github.com/Kimiblock/moeOS.config.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = moeOS-git
	depends = lld
	depends = systemd-ukify
	depends = btrfs-progs
	depends = hfsprogs
	depends = nss-mdns
	depends = dnsmasq
	depends = avahi
	depends = systemd-resolvconf
	depends = rebuild-detector
	depends = pacman-contrib
	depends = msr-tools
	depends = nano
	depends = less
	depends = nvidia-prime-moe
	depends = lsb-release-moe
	depends = bc
	depends = paru
	depends = bat
	depends = glxinfo
	depends = networkmanager
	depends = plymouth
	depends = kernel-modules-hook-bindmount
	depends = linux-firmware
	depends = base-devel
	depends = paru
	depends = sbctl
	depends = clash-meta
	depends = timeshift
	depends = sudo
	depends = chrony
	depends = cups
	depends = cups-browsed
	depends = ipp-usb
	depends = logrotate
	depends = avahi
	depends = sane-airscan
	depends = linux-firmware-whence
	depends = go-yq
	depends = nftables
	depends = iptables-nft
	depends = diffutils
	depends = zram-generator
	depends = watchdog
	backup = etc/moeOS-clash-meta/env.conf
	backup = etc/moeOS-clash-meta/merge.yaml
	backup = etc/default/seconnect

pkgname = lsb-release-moe
	pkgdesc = Replacement of the official lsb-release.
	provides = lsb-release
	conflicts = lsb-release
	replaces = lsb-release

pkgname = nvidia-prime-moe
	pkgdesc = Replacement of the official nvidia-prime. Supports moeOS's powersave features.
	provides = nvidia-prime
	conflicts = nvidia-prime
	replaces = nvidia-prime

pkgname = moe-multimedia-meta
	depends = gst-plugin-pipewire
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-audio
	depends = pipewire-jack
	depends = pipewire-pulse
	depends = pipewire-v4l2
	depends = pipewire-libcamera
	depends = wireplumber
	depends = easyeffects
	depends = mpv
	depends = mpv-mpris
	depends = mediainfo
	depends = rtaudio
	depends = sof-firmware
	depends = gst-plugin-va
	depends = yt-dlp
	depends = python-mutagen
	depends = wl-clipboard
	optdepends = lib32-pipewire
	conflicts = moe-mpv-modern

pkgname = moe-fonts-meta
	depends = noto-fonts-cjk
	depends = ttf-twemoji
	depends = inter-font
	depends = ttf-roboto-mono
	provides = drkonqi
	provides = adwaita-fonts
	provides = cantarell-fonts
	provides = adobe-source-code-pro-fonts
	conflicts = snapd
	conflicts = optimus-manager
	conflicts = optimus-manager-qt
	conflicts = optimus-manager-qt-kde
	conflicts = gnome-shell-performance
	conflicts = adwaita-fonts
	conflicts = cantarell-fonts
	conflicts = adobe-source-code-pro-fonts

pkgname = moe-input-method
	depends = librime-data
	depends = rime-pinyin-moegirl
	depends = rime-moe-pinyin
	depends = rime-pinyin-zhwiki
	depends = ibus-rime
	conflicts = moe-input-meta
	conflicts = moe-input-config
	replaces = moe-input-meta

pkgname = moe-desktop-meta
	depends = vk-hdr-layer-kwin6-git
	depends = geoclue
	depends = xpadneo-dkms
	depends = xpad-noone
	depends = portable
	depends = drm_info
	depends = steam-devices-git
	depends = cgproxy
	depends = usbguard
	depends = highlight
	depends = clash-geoip
	depends = v2ray-domain-list-community
	depends = game-devices-udev
	depends = libdecor
	depends = ffmpegthumbnailer
	depends = libreoffice-fresh
	depends = adw-gtk-theme
	depends = tela-circle-icon-theme-pink-git
	depends = xdg-desktop-portal
	depends = iio-sensor-proxy
	depends = firefox
	depends = snotify
	depends = flatpak
	depends = orca
	depends = espeak-ng
	depends = exfat-utils
	depends = 7zip
	depends = zju-connect-bin
	depends = openrgb
