pkgbase = moeOS-git
	pkgdesc = moeOS Configurations
	pkgver = r46.c085302
	pkgrel = 1
	url = https://github.com/Kimiblock/moeOS.config
	install = moeOS-git.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = make
	depends = xdg-desktop-portal-gnome
	depends = xdg-desktop-portal
	depends = bc
	depends = glxinfo
	depends = easyeffects
	depends = gst-plugin-pipewire
	depends = pipewire
	depends = lib32-pipewire
	depends = pipewire-alsa
	depends = pipewire-audio
	depends = pipewire-jack
	depends = pipewire-pulse
	depends = wireplumber
	depends = inter-font
	depends = networkmanager
	depends = plymouth
	depends = mpv
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = noto-fonts-emoji
	depends = kernel-modules-hook
	depends = linux-firmware
	depends = base-devel
	depends = paru
	depends = kdenlive
	depends = sox
	depends = iio-sensor-proxy
	depends = sbupdate-git
	depends = clash-meta
	depends = clash-verge
	depends = timeshift
	depends = cups
	depends = avahi
	depends = lsb-release
	depends = obs-gstreamer
	depends = mediainfo
	depends = rtaudio
	depends = linux-firmware-whence
	depends = sof-firmware
	depends = opencv
	depends = movit
	depends = go-yq
	depends = ibus
	depends = ibus-rime
	depends = rime-pinyin-zhwiki
	depends = rime-luna-pinyin
	depends = rime-terra-pinyin
	depends = fcitx5-pinyin-moegirl-rime
	depends = librime-data
	depends = sddm
	depends = gst-plugin-va
	depends = nftables
	depends = iptables-nft
	depends = yt-dlp
	depends = dhclient
	depends = librewolf
	depends = diffutils
	depends = gdm-settings
	optdepends = nerd-fonts-sf-mono
	optdepends = uutils-coreutils
	optdepends = ffmpeg-normalize
	optdepends = librewolf-ublock-origin
	optdepends = librewolf-extension-dark-reader
	optdepends = librewolf-extension-bitwarden
	optdepends = librewolf-extension-violentmonkey-bin
	optdepends = librewolf-extension-sponsorblock-bin
	provides = lsb-release
	provides = nvidia-prime
	conflicts = lsb-release
	conflicts = nvidia-prime
	replaces = moeOS
	replaces = nvidia-prime
	replaces = lsb-release
	backup = etc/moeOS-clash-meta/subscribe.conf
	backup = etc/moeOS-clash-meta/merge.yaml
	source = git+https://github.com/LinuxStandardBase/lsb-samples.git
	source = git+https://github.com/Kimiblock/moeOS.config.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = moeOS-git
