pkgbase = moeOS
	pkgdesc = moeOS Configurations
	pkgver = r46.c085302
	pkgrel = 1
	url = https://github.com/Kimiblock/moeOS.config
	install = moeOS.install
	arch = x86_64
	makedepends = git
	depends = tela-circle-icon-theme-pink-git
	depends = tlp
	depends = networkmanager
	depends = plymouth
	depends = mpv
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = noto-fonts-emoji
	depends = noto-fonts-extra
	depends = linux-firmware
	depends = base-devel
	depends = paru
	depends = firefox
	depends = kdenlive
	depends = kwalletmanager
	depends = kvantum
	depends = icalingua++
	depends = sox
	depends = iio-sensor-proxy
	depends = sbupdate-git
	depends = firefox-gnome-theme-git
	depends = marktext-git
	depends = qbittorrent-enhanced-git
	depends = sddm-git
	depends = clash-meta
	depends = clash-verge
	depends = timeshift
	depends = cups
	depends = avahi
	depends = lsb-release
	depends = obs-gstreamer
	depends = mediainfo
	depends = ark
	depends = packagekit-qt5
	depends = flatpak-kcm
	depends = sddm-kcm
	depends = fcitx5
	depends = fcitx5-chinese-addons
	depends = fcitx5-configtool
	depends = fcitx5-gtk
	depends = fcitx5-lua
	depends = fcitx5-pinyin-moegirl
	depends = fcitx5-pinyin-zhwiki
	depends = fcitx5-qt
	depends = rtaudio
	depends = linux-firmware-whence
	depends = sof-firmware
	depends = opencv
	depends = movit
	depends = libva
	depends = libva-utils
	depends = x86_energy_perf_policy
	optdepends = intel-media-driver
	optdepends = nerd-fonts-sf-mono
	optdepends = uutils-coreutils
	source = git+https://github.com/Kimiblock/moeOS.config.git
	sha256sums = SKIP

pkgname = moeOS
	depends = tela-circle-icon-theme-pink-git
	depends = tlp
	depends = networkmanager
	depends = plymouth
	depends = mpv
	depends = noto-fonts
	depends = noto-fonts-cjk
	depends = noto-fonts-emoji
	depends = noto-fonts-extra
	depends = linux-firmware
	depends = base-devel
	depends = paru
	depends = firefox
	depends = kdenlive
	depends = kwalletmanager
	depends = kvantum
	depends = icalingua++
	depends = sox
	depends = iio-sensor-proxy
	depends = sbupdate-git
	depends = firefox-gnome-theme-git
	depends = marktext-git
	depends = qbittorrent-enhanced-git
	depends = sddm-git
	depends = clash-meta
	depends = clash-verge
	depends = timeshift
	depends = cups
	depends = avahi
	depends = lsb-release
	depends = obs-gstreamer
	depends = mediainfo
	depends = ark
	depends = packagekit-qt5
	depends = flatpak-kcm
	depends = sddm-kcm
	depends = fcitx5
	depends = fcitx5-chinese-addons
	depends = fcitx5-configtool
	depends = fcitx5-gtk
	depends = fcitx5-lua
	depends = fcitx5-pinyin-moegirl
	depends = fcitx5-pinyin-zhwiki
	depends = fcitx5-qt
	depends = rtaudio
	depends = linux-firmware-whence
	depends = sof-firmware
	depends = opencv
	depends = movit
	depends = libva
	depends = libva-utils
	depends = x86_energy_perf_policy
	depends = intel-media-driver
	depends = libva-mesa-driver
